<div class="graphicWrapper">
  <h3 class="heading">Mapping the partisan leanings of every voting district in the state</h3>
  <p class="description">The map file containing partisanship data at the voting district level allows the creation of detailed maps showing how favorable to Republicans and Democrats an area is. Select a district to see its 2004 and 2008 partisanship scores as included in the spreadsheet. The more positive the number, the more favorable to Republicans a district is; the more negative, the stronger the Democratic lean.</p>

  <br>
  <div class="aspect-ratio-outer">
    <div class="aspect-ratio-inner">

      <div id="map"></div>

    </div>
    <div class="legend">
      <h1>Map legend</h1>
      <ul class="scale">
        <li>
          <span class="block" style="background-color: #f06449"></span> Favorable to Republicans (2008 Index)</li>
        <li>
          <span class="block" style="background-color: #083d77"></span> Favorable to Democrats (2008 Index)</li>

      </ul>
    </div>
  </div>


  <!-- <div class="source">Source: xxxXXX</div> -->
  <div class="source credit">Credit: JARED WHALEN / Staff</div>

</div>
