<div class="graphicWrapper">
    <h3 class="heading">Chart title here</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum est quo voluptatum et doloremque, facere, ducimus totam minima, quisquam similique facilis incidunt fugit odio dicta autem quibusdam sapiente tempore nostrum.</p>

    <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">
            <div id="map"></div>
        </div>
        <div class="legend">
            <h1>Map legend</h1>
            <ul class="scale">
                <li>
                    <span class="block" style="background-color: red"></span> Red</li>
                <li>
                    <span class="block" style="background-color: orange"></span> Orange</li>
                <li>
                    <span class="block" style="background-color: yellow"></span> Yello</li>
                <li>
                    <span class="block" style="background-color: green"></span> Green</li>

            </ul>
        </div>
    </div>


    <div class="source">Source: xxxXXX</div>
    <div class="source credit">Credit: xxxXXX</div>

</div>
